@import "nprogress/nprogress.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

@layer components {
  .container {
    @apply mx-auto px-4 lg:px-8 xl:px-0;
  }
  .container-fluid {
    @apply mx-auto px-4 lg:px-8 xl:px-0;
  }
}

@layer utilities {
  /* UI */

  .input-class {
    @apply text-[16px] leading-[24px] placeholder:text-[16px] rounded-lg border border-gray-300 text-gray-900 placeholder:text-gray-500 transition-all duration-200 ease-in-out;
    @apply focus:border-1 focus:border-blue-500 focus:outline-none;
    @apply focus-visible:ring-1 focus-visible:ring-blue-200 focus-visible:outline-none;
  }

  .form-item {
    @apply flex flex-col gap-1.5;
  }

  .form-label {
    @apply text-[14px] w-full max-w-[280px] font-medium text-gray-700;
  }

  .form-message {
    @apply text-[12px] text-red-500;
  }

  .form-btn {
    @apply text-[16px] rounded-lg border font-semibold text-white;
  }

  .form-link {
    @apply text-[14px] cursor-pointer font-medium;
  }
}

/* Animation page Management-vehicle (user) */
@layer utilities {
  @keyframes slide-in-left {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-out-left {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-out-right {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.4s ease-in-out forwards;
  }

  .animate-slide-out-left {
    animation: slide-out-left 0.3s ease-in-out forwards;
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.4s ease-in-out forwards;
  }

  .animate-slide-out-right {
    animation: slide-out-right 0.3s ease-in-out forwards;
  }
}
