.avatar-uploader .ant-upload.ant-upload-select-picture-card,
.avatar-uploader .ant-upload-list-item-container {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1 / 1;
}

.avatar-uploader .ant-upload-list-item-info,
.avatar-uploader .ant-upload-list-item-info > span,
.avatar-uploader .ant-upload-list-item-info img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.avatar-uploader .ant-upload.ant-upload-select-picture-card {
  border: none !important;
  background-color: transparent !important;
}
