@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  width: max-content;
}

.hover\:pause:hover {
  animation-play-state: paused;
}

.shadow-xl {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.transition-colors {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.rounded-full {
  border-radius: 9999px;
}

.focus\:ring-2:focus {
  outline: none;
  ring: 2px solid;
}

.focus\:ring-green-500:focus {
  ring-color: #10b981;
}

.focus\:ring-offset-2:focus {
  ring-offset-width: 2px;
}
